//Глобальные классы
html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-reset {
    margin: 0;
    padding: 0;
}

.fixed-header-margin {
    margin-top: 218px;
}

.text-medium {
    font-size: $main-font-size * 1.25;
    line-height: 30px;
}

.wrapper {
    font-family: "PT Sans";
    font-size: $main-font-size;
    color: $main-text-color;
    background-color: $bright;
}

.container {
    max-width: 1200px;
    height: 100%;
    padding: 0 $noclip;
    margin: 0 auto;
    box-sizing: content-box;
    justify-content: space-between;
}

.heading {
    margin: 0;
    font-family: "PT Sans Caption";
    font-weight: bold;

    &_primary {
        font-size: $main-font-size * 2.5;
        line-height: 48px;
    }

    &_secondary {
        font-size: $main-font-size * 2;
    }

    &_tertiary {
        font-size: $main-font-size * 1.125;
    }

    &_quaternary {
        margin: 0;
        font-size: $main-font-size * 1.25;
    }
}

.button {
    background-color: $accent;
    color: $bright;
    transition: $main-transition;
    border: none;
    border-radius: 50px;
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-size: $main-font-size - 2;
    cursor: pointer;
    white-space: nowrap;
    padding-top: 16px;
    padding-bottom: 16px;

    &:hover {
        background-color: darken($accent, 5%);
    }

    &:focus {
        outline: none;
    }

    &_hollow {
        background: none;
        border: 2px solid $neutral-border-color;
        color: $main-text-color;

        &_clicked,
        &:hover {
            background: none;
            outline: none;
            border-color: $accent;
            color: $accent;
        }
    }
}

.link {
    text-decoration: inherit;
    color: inherit;
    white-space: nowrap;
}

.list-common {
    list-style: none;
    margin: 0;
    padding: 0;
}

.learn-more {
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-size: $main-font-size - 2;
    color: $accent;
    text-decoration: underline;

    &::after {
        @include learn-more-arrow;
    }
}

.accent {
    color: $accent;
}

.feature-list-primary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 22px;

        &::before {
            // Изображение галочки в круге
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='23' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.067 10.086v.92a9.978 9.978 0 0 1-1.997 5.982 10.033 10.033 0 0 1-5.192 3.602 10.065 10.065 0 0 1-6.322-.21 10.028 10.028 0 0 1-4.94-3.937 9.975 9.975 0 0 1 .79-11.94 10.04 10.04 0 0 1 5.416-3.257 10.064 10.064 0 0 1 6.295.62' stroke='%23F76201' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m21.067 3.006-10.034 10.01-3.01-3' stroke='%23F76201' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            content: "";
            display: block;
            //Задаём ширину немного больше исходной, иначе изображение отображается некорректно.
            width: 30px;
            height: 22px;
            margin-top: 5px;
        }
    }
}

.feature-list-secondary {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;

    &__item {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;

        &::before {
            //Изображение галочки
            @include checkmark("%23F60");
            background-repeat: no-repeat;
            content: "";
            display: block;
            //Снова задаём чуть больше места для корректного отображения.
            width: 22px;
            height: 18px;
            background-position: 0px 3px;
        }
    }
}

.visually-hidden {
    display: none;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(-20px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-20px, 0);
    }
}
