//Глобальные классы
html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-margin {
    margin-bottom: 110px;
}

.margin-reset {
    margin: 0;
    padding: 0;
}

.text-medium {
    font-size: $main-font-size * 1.25;
    line-height: 30px;
}

.wrapper {
    font-family: "PT Sans";
    font-size: $main-font-size;
    color: $main-text-color;
    background-color: $bright;
}

.container {
    max-width: 1200px;
    height: 100%;
    padding: 0 $noclip;
    margin: 0 auto;
    box-sizing: content-box;
    justify-content: space-between;
}

.heading {
    margin: 0;
    font-family: "PT Sans Caption";
    font-weight: bold;

    &_primary {
        font-size: 40px;
        line-height: 48px;
    }

    &_secondary {
        font-size: 32px;
    }
}

.button {
    background-color: $accent;
    color: $bright;
    transition: $main-transition;
    border: none;
    border-radius: 50px;
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-size: $main-font-size - 2;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;

    &:hover {
        background-color: darken($accent, 5%);
    }
}

.link {
    text-decoration: inherit;
    color: inherit;
    white-space: nowrap;
}

.list-common {
    list-style: none;
    margin: 0;
    padding: 0;
}

.learn-more {
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-size: $main-font-size - 2;
    color: $accent;
    text-decoration: underline;

    &_light {
        font-family: "PT Sans";
        font-weight: normal;
    }
}

.visually-hidden {
    display: none;
}
