//Глобальные классы
html {
    scroll-behavior: smooth;
}

.wrapper {
    font-family: "PT Sans";
    font-size: $main-font-size;
    color: $main-text-color;
    background-color: $bright;
}

.container {
    max-width: 1200px;
    height: 100%;
    padding: 0 $noclip;
    margin: 0 auto;
    box-sizing: content-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: $accent;
    color: $bright;
    transition: $main-transition;
    border: none;
    border-radius: 50px;
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 17px;

    &:hover {
        background-color: darken($accent, 5%);
    }
}

.link {
    text-decoration: inherit;
    color: inherit;
}

.list-common {
    list-style: none;
    margin: 0;
    padding: 0;
}

.learn-more {
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-size: $main-font-size - 2;
    color: $accent;
    text-decoration: underline;

    &_light {
        font-family: "PT Sans";
        font-weight: normal;
    }
}

.visually-hidden {
    display: none;
}
