.--svg__arrow-head,.--svg__arrow-head-before::before,.--svg__arrow-head-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='7' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1.75 9.684 4-4-4-4' stroke='%23F60' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__arrow-head-before::before {
    content:'';
}
.--svg__arrow-head-after::after {
    content:'';
}
.--svg__checkmark-circle,.--svg__checkmark-circle-before::before,.--svg__checkmark-circle-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='23' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.067 10.086v.92a9.978 9.978 0 0 1-1.997 5.982 10.033 10.033 0 0 1-5.192 3.602 10.065 10.065 0 0 1-6.322-.21 10.028 10.028 0 0 1-4.94-3.937 9.975 9.975 0 0 1 .79-11.94 10.04 10.04 0 0 1 5.416-3.257 10.064 10.064 0 0 1 6.295.62' stroke='%23F76201' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m21.067 3.006-10.034 10.01-3.01-3' stroke='%23F76201' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__checkmark-circle-before::before {
    content:'';
}
.--svg__checkmark-circle-after::after {
    content:'';
}
.--svg__checkmark-green,.--svg__checkmark-green-before::before,.--svg__checkmark-green-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='20' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 2 7 13 2 8' stroke='%23178A00' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__checkmark-green-before::before {
    content:'';
}
.--svg__checkmark-green-after::after {
    content:'';
}
.--svg__checkmark,.--svg__checkmark-before::before,.--svg__checkmark-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='20' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 2 7 13 2 8' stroke='%23F60' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__checkmark-before::before {
    content:'';
}
.--svg__checkmark-after::after {
    content:'';
}
.--svg__footer-arrow,.--svg__footer-arrow-before::before,.--svg__footer-arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 6.25 6 1.75l-4.5 4.5' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__footer-arrow-before::before {
    content:'';
}
.--svg__footer-arrow-after::after {
    content:'';
}
.--svg__header-show-more,.--svg__header-show-more-before::before,.--svg__header-show-more-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 4 4 4-4' stroke='%23333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__header-show-more-before::before {
    content:'';
}
.--svg__header-show-more-after::after {
    content:'';
}
.--svg__input-show-more,.--svg__input-show-more-before::before,.--svg__input-show-more-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1.145 1 3.977 4 3.976-4' stroke='%23999' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__input-show-more-before::before {
    content:'';
}
.--svg__input-show-more-after::after {
    content:'';
}
.--svg__learn-more-arrow,.--svg__learn-more-arrow-before::before,.--svg__learn-more-arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='7' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1.75 9.684 4-4-4-4' stroke='%23F60' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__learn-more-arrow-before::before {
    content:'';
}
.--svg__learn-more-arrow-after::after {
    content:'';
}
.--svg__minus,.--svg__minus-before::before,.--svg__minus-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2h12' stroke='%23F60' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
}
.--svg__minus-before::before {
    content:'';
}
.--svg__minus-after::after {
    content:'';
}
.--svg__slider-arrow,.--svg__slider-arrow-before::before,.--svg__slider-arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.333 20h23.334M20 8.333 31.667 20 20 31.667' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__slider-arrow-before::before {
    content:'';
}
.--svg__slider-arrow-after::after {
    content:'';
}