.advantages {
    &__heading {
        margin-bottom: 34px;

        @media (max-width: $phone) {
            margin-bottom: 25px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;

        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 12px;
        }

        @media (max-width: $phone) {
            grid-template-columns: 1fr;
            grid-template-rows: unset;
            row-gap: 16px;
        }
    }

    &__item {
        width: 384px;
        height: 140px;
        box-sizing: border-box;
        border-radius: $main-border-radius;
        padding: 40px 30px;
        gap: 24px;
        justify-content: flex-start;
        box-shadow: $main-box-shadow;
        font-family: "PT Sans Caption";
        font-weight: bold;
        font-size: $main-font-size * 1.125;
        line-height: 28px;

        @media (max-width: $laptop) {
            width: 314px;
            height: 140px;
            font-size: $main-font-size;
            padding: 50px 19px;
        }

        @media (max-width: $phone) {
            width: 288px;
            height: 100px;
            padding: 30px 20px;
            font-size: $main-font-size - 2px;
            gap: 19px;
        }
    }

    &__image {
        width: 60px;
        height: 60px;
        margin-top: 8px;

        @media (max-width: $laptop) {
            width: 40px;
            height: 40px;
        }
    }

    &__text-with-link {
        flex-direction: column;
        height: 60px;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 4px;
    }

    &__link {
        font-size: $main-font-size - 2;
        color: $accent;
    }

    &_block-margin {
        margin-bottom: 112px;
        @media (max-width: $laptop) {
            margin-bottom: 92px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 74px;
        }

        @media (max-width: $phone) {
            margin-bottom: 50px;
        }
    }
}
