.client-types {
    &__heading {
        margin-bottom: 27px;

        @media (max-width: $tablet) {
            margin-bottom: 31px;
        }

        @media (max-width: $phone) {
            max-width: 225px;
            margin-bottom: 14px;
        }
    }

    &__summary {
        font-size: $main-font-size * 1.125;
        line-height: 28px;
        letter-spacing: 0.02em;
        max-width: 1098px;
        margin-bottom: 38px;

        @media (max-width: $laptop) {
            max-width: 980px;
        }

        @media (max-width: $tablet) {
            font-size: $main-font-size;
            line-height: 26px;
            margin-bottom: 30px;
        }

        @media (max-width: $phone) {
            font-size: $main-font-size - 2;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    &__buttons {
        justify-content: flex-start;
        gap: 21px;
        margin-bottom: 40px;

        @media (max-width: $tablet) {
            gap: 16px;
            margin-bottom: 32px;
            overflow: auto;
        }

        @media (max-width: $phone) {
            margin-bottom: 44px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;

        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
            gap: 44px;
        }

        @media (max-width: $phone) {
            gap: 24px;
        }
    }

    &__sub-heading {
        margin-bottom: 36px;

        @media (max-width: $tablet) {
            margin-bottom: 26px;
        }

        @media (max-width: $phone) {
            margin-bottom: 22px;
        }
    }

    &_block-margin {
        margin-bottom: 115px;

        @media (max-width: $laptop) {
            margin-bottom: 96px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 78px;
        }

        @media (max-width: $phone) {
            margin-bottom: 60px;
        }
    }
}
