.comparison {
    &__heading {
        margin-bottom: 45px;

        @media (max-width: $laptop) {
            margin-bottom: 42px;
        }
    }

    &_block-margin {
        margin-bottom: 40px;

        @media (max-width: $laptop) {
            margin-bottom: 46px;
        }
    }
}

.product-table {
    border-radius: $main-border-radius;
    box-shadow: $main-box-shadow;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

    &__headings {
        padding-bottom: 23px;
    }

    &__headings,
    &__row {
        width: 100%;
        justify-content: space-between;
    }

    &__heading_main,
    &__feature {
        margin-left: 60px;
    }

    &__heading_secondary,
    &__includes {
        min-width: 58px;
        text-align: center;
    }

    &__row {
        border-bottom: 2px solid $neutral-border-color;
        padding: 23px 0px;

        &_border-reset {
            border: none;
        }
    }

    &__comparison {
        margin-right: 104px;
        gap: 158px;

        @media (max-width: $laptop) {
            margin-right: 48px;
            gap: 126px;
        }
    }

    &__includes {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        &_yes {
            @include checkmark("%23178A00");
            height: 15px;
        }

        &_no {
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2h12' stroke='%23F60' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
            height: 4px;
        }
    }
}
