.comparison {
    &__heading {
        margin-bottom: 45px;

        @media (max-width: $laptop) {
            margin-bottom: 42px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 32px;
        }

        @media (max-width: $phone) {
            margin-bottom: 24px;
        }
    }

    &_block-margin {
        margin-bottom: 40px;

        @media (max-width: $laptop) {
            margin-bottom: 46px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 85px;
        }

        @media (max-width: $phone) {
            margin-bottom: 46px;
        }
    }
}

.product-table {
    border-radius: $main-border-radius;
    box-shadow: $main-box-shadow;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

    &_mobile {
        display: none;
    }

    @media (max-width: $tablet) {
        padding-top: 44px;
    }

    @media (max-width: $phone) {
        display: none;

        &_mobile {
            padding-top: 30px;
            padding-bottom: 38px;
            display: block;
            box-shadow: 0px 2px 22px 0px rgba(50, 50, 50, 0.1);
        }
    }

    &__headings {
        padding-bottom: 23px;

        @media (max-width: $phone) {
            padding-bottom: 16px;
        }
    }

    &__headings,
    &__row {
        width: 100%;
        justify-content: space-between;
    }

    &__heading_main,
    &__feature {
        margin-left: 60px;

        @media (max-width: $tablet) {
            margin-left: 50px;
        }

        @media (max-width: $phone) {
            margin-left: 0;
            padding-left: 30px;
        }
    }

    &__heading_secondary {
        @media (max-width: $phone) {
            margin-bottom: 20px;
        }
    }

    &__heading_secondary,
    &__includes {
        min-width: 58px;
        text-align: center;
    }

    &__row {
        border-bottom: 2px solid $neutral-border-color;
        padding: 23px 0px;

        &_border-reset {
            border: none;
        }

        @media (max-width: $tablet) {
            &_tablet {
                &-padding {
                    padding: 14px 0px;
                }
                &-no-border {
                    border: none;
                }
            }
        }

        @media (max-width: $phone) {
            flex-direction: column;
            border: none;
            padding: 0;
        }
    }

    &__feature {
        @media (max-width: $tablet) {
            max-width: 300px;
        }

        @media (max-width: $phone) {
            border-bottom: 2px solid $neutral-border-color;
            line-height: 24px;
            padding-bottom: 28px;
            margin-bottom: 26px;
        }
    }

    &__comparison {
        margin-right: 104px;
        gap: 158px;

        @media (max-width: $laptop) {
            margin-right: 48px;
            gap: 126px;
        }

        @media (max-width: $tablet) {
            margin-right: 38px;
            gap: 58px;
        }

        @media (max-width: $phone) {
            margin-right: 0;
            flex-direction: column;
        }
    }

    &__includes {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        &_yes {
            @include checkmark("%23178A00");
            height: 15px;
        }

        &_no {
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2h12' stroke='%23F60' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
            height: 4px;
        }
    }
}
