.features {
    &__container {
        flex-direction: column;
    }
    &__heading {
        margin-bottom: 30px;
        align-self: flex-start;

        @media (max-width: $tablet) {
            margin-bottom: 40px;
        }
    }

    &__list {
        width: 100%;
    }

    &_block-margin {
        margin-bottom: 114px;

        @media (max-width: $laptop) {
            margin-bottom: 94px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 71px;
        }
    }
}
