.feedback-request {
    &__heading {
        margin-bottom: 55px;

        @media (max-width: $laptop) {
            margin-bottom: 53px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 33px;
        }

        @media (max-width: $phone) {
            margin-bottom: 25px;
        }
    }

    &_block-margin {
        margin-bottom: 110px;

        @media (max-width: $laptop) {
            margin-bottom: 92px;
        }

        @media (max-width: $phone) {
            margin-bottom: 60px;
        }
    }

    .request-form {
        &__terms {
            @media (max-width: $laptop) {
                display: none;
            }

            @media (max-width: $tablet) {
                display: block;
            }
        }

        &__required {
            @media (max-width: $laptop) {
                margin-bottom: 36px;
            }

            @media (max-width: $tablet) {
                margin-bottom: 45px;
            }

            @media (max-width: $phone) {
                margin-bottom: 33px;
            }
        }
    }
}
