.reports {
    &__heading {
        margin-bottom: 35px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-width: 890px;
    }

    &__gap-fix {
        gap: 12px
    }

    &_block-margin {
        margin-bottom: 134px;

        @media (max-width: $laptop) {
            margin-bottom: 92px;
        }
    }
}
