//Переопределение стилей Свайпера

.product-screenshot-swiper {
    .swiper {
        &-wrapper {
            margin-bottom: 80px;
        }

        &-slide {
            user-select: none;
        }

        &-button-prev,
        &-button-next {
            background-color: $accent;
            color: $bright;
            width: 110px;
            height: 80px;
            top: 235px;

            &::after {
                content: "";
                background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.333 20h23.334M20 8.333 31.667 20 20 31.667' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                width: 40px;
                height: 40px;
            }
        }

        &-button-next {
            right: 0;
            border-radius: 0px 170px 170px 0px;
        }

        &-button-prev {
            left: 0;
            border-radius: 170px 0px 0px 170px;

            &::after {
                transform: rotate(180deg);
            }
        }

        &-button-disabled {
            background-color: #aaaaaa;
        }

        &-pagination {
            &-bullet {
                width: 10px;
                height: 10px;
                margin: 0 12px !important;
                &-active {
                    background-color: $accent;
                }
            }
        }
    }
}

//Классы, не отнтсящиеся напрямую к Свайперу

.slider {
    &__container {
        max-width: 996px;
    }

    &_block-margin {
        margin-bottom: 98px;

        @media (max-width: $laptop) {
            margin-bottom: 80px;
        }
    }
}
