.title-section {
    &__heading {
        margin-bottom: 35px;

        @media (max-width: $tablet) {
            margin-bottom: 18px;
        }

        @media (max-width: $phone) {
            max-width: 175px;
            margin-bottom: 12px;
        }
    }

    &__text-content {
        max-width: 690px;
    }

    &__price {
        margin-bottom: 33px;
        color: $accent;

        @media (max-width: $laptop) {
            margin-bottom: 30px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 24px;
        }

        @media (max-width: $phone) {
            margin-bottom: 20px;
        }
    }

    &__description {
        margin-bottom: 40px;
        max-width: 628px;

        @media (max-width: $laptop) {
            max-width: 580px;
        }

        @media (max-width: $tablet) {
            max-width: unset;
            margin-bottom: 30px;
        }

        @media (max-width: $phone) {
            margin-bottom: 42px;
        }
    }

    &__try {
        margin-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;

        @media (max-width: $phone) {
            margin-bottom: 30px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    &__notice {
        color: lighten($secondary-text-color, 20%);

        @media (max-width: $phone) {
            font-size: $main-font-size * 0.75;
        }
    }

    &__image {
        width: 484px;
        height: 307px;
        margin-top: 14px;

        @media (max-width: $laptop) {
            width: 398px;
            height: 252px;
            margin-top: 74px;
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &_block-margin {
        margin-bottom: 118px;

        @media (max-width: $laptop) {
            margin-bottom: 100px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 55px;
        }

        @media (max-width: $phone) {
            margin-bottom: 63px;
        }
    }
}
