.why-us {
    &__heading {
        margin-bottom: 38px;

        @media (max-width: $laptop) {
            margin-bottom: 50px;
        }
    }

    &__content {
        max-width: 1136px;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $tablet) {
            flex-direction: column;
            gap: 36px;
        }
    }

    &__left-content {
        margin-top: 20px;

        @media (max-width: $laptop) {
            margin-left: 6px;
        }

        @media (max-width: $tablet) {
            margin: 0;
        }
    }

    &__list {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        row-gap: 52px;
        column-gap: 40px;
        margin-bottom: 30px;

        @media (max-width: $laptop) {
            row-gap: 32px;
            column-gap: 60px;
            margin-bottom: -6px;
        }

        @media (max-width: $tablet) {
            row-gap: 42px;
            column-gap: 132px;
            margin-bottom: 5px;
        }
    }

    &__item {
        max-width: 290px;

        @media (max-width: $laptop) {
            max-width: 200px;
        }
    }

    &__merit {
        color: $merit;
        font-family: "PT Sans Caption";
        font-weight: bold;
        font-size: $main-font-size * 2;
        margin-bottom: 10px;

        @media (max-width: $laptop) {
            margin-bottom: 5px;
        }

        @media (max-width: $tablet) {
            font-size: $main-font-size * 1.25;
            margin-bottom: 18px;
        }
    }

    &__description {
        font-size: $main-font-size * 1.25;
        line-height: 30px;

        @media (max-width: $laptop) {
            font-size: $main-font-size * 1.125;
            line-height: 28px;
        }
    }

    &__merit,
    &__description {
        display: block;
    }

    &__image {
        width: 464px;
        height: 333px;

        @media (max-width: $laptop) {
            width: 435px;
            height: 312px;
        }

        @media (max-width: $tablet) {
            width: 472px;
            height: 338px;
            margin-left: 35px;
        }
    }

    &__learn-more {
        justify-content: flex-start;
    }

    &_block-margin {
        margin-bottom: 122px;

        @media (max-width: $laptop) {
            margin-bottom: 108px;
        }

        @media (max-width: $tablet) {
            margin-bottom: 102px;
        }
    }
}
